.list-group-flush .list-group-item {
  background: transparent;
}

.ques-height {
  height: 220px;
  min-height: 200px;
}

.card-body {
  min-height: 150px;
  height: 150px;
}

@media screen and (max-width: 480px) {
  .card,
  .instruc {
    margin-top: 40px;
  }
}
