<div class="container">
    <div class="header-wrapper text-center">
        <h1 class="display-1">MCQ Test</h1>
        <p class="lead">
            Push yourself, Because no one else is going to do it for you...
        </p>
    </div>
</div>
<router-outlet></router-outlet>